# Node modules
node_modules/

# Dist
dist/

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/
typings/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# MacOS
.DS_Store
